.h2-ctn {
    display: flex;
    background-color: #184d53;
    padding: 12.5px 50px 12.5px 50px;
}

.h2-ctn h2 {
    color: white;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.ctn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 50px 12.5px 50px;
    background-color: #184d53;
}

img {
    width: 205px;
    border-radius: 4px;
    transition: all ease 0.3s;
}

img:hover {
    opacity: 70%;
}

@media (max-width: 700px) {
    .ctn {
        flex-direction: column;
    }
}