/* Logo y botones principales */

header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px;
    background-color: #184d53b8;
    box-shadow: 0px 5px 20px 3px #0003; */

    /* Fijarse si usar el de arriba o el de abajo según gustos. */

    display: flex;
    width: calc(100vw - 17px);
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 12px;
    background-color: #184d53b8;
    box-shadow: 0px 5px 20px 3px #0003;
}

.logo-ctn {
    display: flex;
    justify-content: center;
}

.logo-ctn img {
    width: 34%;
    cursor: pointer;
}

.buttons-ctn {
    display: flex;
    gap: 17px;
}

.buttons-ctn button {
    height: 35px;
    width: 97px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
    
    white-space: nowrap;
    border: unset;
    font-weight: bold;
    background-color: transparent;

    cursor: pointer;
}

.home-areas-btn {
    background-color: #184d53;
    color: white;
    transition: all 0.07s ease;
}

.buttons-ctn .home-areas-btn:hover {
    border: 3px solid white;
}

.contact-btn {
    background-color: #184d53;
    color: white;
    transition: all 0.05s ease;
}

.contact-btn:hover {
    color: orange;
    border: 3px solid orange!important;
}

.buttons-ctn .contact-btn:hover {
    border: 3px solid white;
}

@media (max-width: 700px) {

    header {
        flex-direction: column;
        width: 100%;
        position: fixed;
        z-index: 999;
        gap: 15px;
    }

    .logo-ctn {
        display: none;
    }
}