<header>
    
    <img onclick="window.location.replace('/home');" src="/assets/logos/header-logo.png" alt="Cover Art Studio - Leonel Bruzzese">

    <div class="buttons-ctn">
        <button onclick="window.location.replace('/home');" class="home-areas-btn">INICIO</button>
        <!-- Uso onclick en este caso porque si no recarga la página el carousel deja de moverse automáticamente. -->
        <button [routerLink]="'/gallery'" class="home-areas-btn">GALERÍA</button>
        <button [routerLink]="'/contact'" class="contact-btn">CONTACTO</button>
    </div>
    
</header>
