<header>
    
    <div class="logo-ctn">
        <img [routerLink]="'/home'" src="/assets/img/logo-ppal.svg" alt="Ilustraciones-Bruzzese">
    </div>
    <div class="buttons-ctn">
        <button onclick="window.location.replace('/home');" class="home-areas-btn">INICIO</button>
        <!-- Uso onclick en este caso porque si no recarga la página el carousel deja de moverse automáticamente. -->
        <button [routerLink]="'/gallery'" class="home-areas-btn">GALERÍA</button>
        <button [routerLink]="'/contact'" class="contact-btn">CONTACTO</button>
    </div>
    
</header>
