::ng-deep .checkbox {
    --mdc-checkbox-selected-icon-color: #184d53 !important; /* Cambia el color de fondo */
    --mdc-checkbox-selected-checkmark-color: #ff7800 !important; /* Cambia el color del tilde */
    --mdc-checkbox-selected-focus-icon-color: #184d53 !important;
    --mdc-checkbox-selected-hover-icon-color: #184d53 !important;
    --mdc-checkbox-selected-pressed-icon-color: orange !important;
    --mdc-checkbox-selected-focus-state-layer-color: #5dff4000; /* Circulo sombra de color sobre texto */
    --mdc-checkbox-selected-hover-state-layer-color: #5dff4000; /* Circulo sombra de color sobre checkbox */
    --mdc-checkbox-selected-pressed-state-layer-color: #4050ff00;

    margin-top: 8px;
}

/* Al hacer hover en el texto repercute en el checkbox */

::ng-deep .checkbox:hover {
    --mdc-checkbox-selected-icon-color: #184d53 !important; 
}

.body-gallery {
    background: url('/assets/backgrounds/gallery-background.png');
    background-size: cover;
    background-position: center;
}

.ctn {
    display: flex;
    justify-content: center;
    padding: 108px 0 108px 0;
    
    background: url('/assets/backgrounds/ctn-checkbox.png');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

span {
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

@media (max-width: 700px) {
    .ctn {
        flex-direction: column;
        align-items: center;
        flex-flow: wrap;
        margin-top: 35px;
        box-shadow: 0px 7px 20px 4px #ffffff57;
        padding: 0;
        background: #ffffff4a;
    }

    .body-gallery {
        background-size: auto;
    }

    span {
        color: white;
    }
}






