<app-top-info/>

<app-header/>

<div class="ctn">
    <mat-checkbox class="checkbox" (change)="toggleCheckbox('all', $event)" [checked]="allCheckbox">Todos</mat-checkbox>
    <mat-checkbox class="checkbox" (change)="toggleCheckbox('albumes', $event)" [checked]="albumCheckbox">Albumes</mat-checkbox>
    <mat-checkbox class="checkbox" (change)="toggleCheckbox('videojuegos', $event)" [checked]="videogamesCheckbox">Videojuegos</mat-checkbox>
    <mat-checkbox class="checkbox" (change)="toggleCheckbox('otros', $event)" [checked]="othersCheckbox">Otros</mat-checkbox>
</div>

<app-gallery *ngIf="allCheckbox || albumCheckbox"/>
<app-gallery-videogames *ngIf="allCheckbox || videogamesCheckbox"/>
<app-gallery-others *ngIf="allCheckbox || othersCheckbox"/>

<app-footer/>
