<div class="ctn">
    <section>
        
        <div class="ctn-segmento">
            <div class="text">
                <h2>BOCETO</h2>
                <p>
                    En este proceso se realizan las líneas iniciales y esenciales en búsqueda de la imagen.
                    Se barajan opciones en cuanto a formas, proporciones y posibles tonalidades de color de acuerdo
                    a la idea de tu proyecto.
                </p>
            </div>

            <div class="img-ctn">
                <img class="image" src="/assets/images/videojuegos/micro-4.jpg" alt="Estatua">
            </div>
        </div>   

        <br><br>

        <div class="ctn-segmento">

            <div class="img-ctn">
                <img class="image" src="/assets/images/otros/envase-detalle.jpg" alt="Estatua">
            </div>

            <div class="text">
                <h2>PRODUCCIÓN</h2>
                <p>
                    Es la segunda etapa del proceso creativo donde se lleva al máximo las capacicades del color y se concreta la imagen final.
                </p>
                <p>
                    En COVER ART STUDIO se utiliza la tecnología adecuada para plasmar tus ideas con una calidad de imagen profesional.
                </p>
            </div>
        </div>
        
        <br><br>

        <div class="ctn-segmento">
            <div class="text">
                <h2>LOGOTIPOS</h2>
                <p>
                    Para lograr una coherencia compositiva de acuerdo a la portada producida, opcionalmente se desarrolla el logotipo para nuestros clientes artistas.
                </p>
                <p> 
                    Todos nuestros logos son vectorizados y preparados para visualizarse en pantallas e impresiones
                    sin pérdidas de resolución de imagen.
                </p>
            </div>

            <div class="img-ctn">
                <img class="logo" src="/assets/logos/header-logo.png" alt="Logo">
            </div>
        </div>

    </section>
</div>
