<div class="ctn">
    <section>

        <div class="ctn-segmento">
            <div class="img-ctn">
                <img class="image" src="/assets/images/albumes/maldita-libertad-sin-logo.png" alt="Diseñador de cover art singles">
            </div>
            <div class="text">
                <h1>
                    Nos especializamos en la creación de la imagen de tu álbum.
                    Somos artistas visuales que trabajamos principalmente junto a músicos desarrollando
                    el arte de sus álbumes y sencillos.
                </h1>
            </div>
        </div>  
        
        <div class="ctn-segmento">
            <div class="text">
                <h2>BOCETO</h2>
                <p>
                    En este proceso se realizan las líneas iniciales y esenciales en búsqueda de la imagen.
                    Se barajan opciones en cuanto a formas, proporciones y posibles tonalidades de color de acuerdo
                    a la idea de tu proyecto.
                </p>
            </div>

            <div class="img-ctn">
                <img class="image" src="/assets/images/videojuegos/micro-4.jpg" alt="Diseñador de cover art singles">
            </div>
        </div>   

        <br><br>

        <div class="ctn-segmento">

            <div class="img-ctn">
                <img class="image" src="/assets/images/otros/envase-detalle.jpg" alt="Cover Art para sencillo de música">
            </div>

            <div class="text">
                <h2>PRODUCCIÓN</h2>
                <p>
                    Es la segunda etapa del proceso creativo donde se lleva al máximo las capacicades del color y se concreta la imagen final.
                </p>
            </div>
        </div>
        
        <br><br>

        <div class="ctn-segmento">
            <div class="text">
                <h2>LOGOTIPOS</h2>
                <p>
                    Para lograr una coherencia compositiva de acuerdo a la portada producida, opcionalmente se desarrolla el logotipo para nuestros clientes artistas.
                </p>
                <p> 
                    Todos nuestros logos son vectorizados y preparados para visualizarse en pantallas e impresiones
                    sin pérdidas de resolución de imagen.
                </p>
            </div>

            <div class="img-ctn">
                <img class="logo" src="/assets/logos/itryo-logo.png" alt="Logos para bandas de música">
            </div>
        </div>

        <br><br>

        <div class="ctn-segmento">

            <div class="img-ctn">
                <img class="image" src="/assets/images/estudio/tecnologia.png" alt="Cover Art para sencillo de música">
            </div>

            <div class="text">
                <h2>ESTUDIO</h2>
                <p>
                    En COVER ART STUDIO se utiliza la tecnología y software adecuado para plasmar tus ideas con expresividad y una calidad de imagen profesional.
                </p>
            </div>
        </div>

    </section>
</div>
