<div class="ctn">
    <section>
        <h2>ESTUDIO</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae natus, magnam sint, officia quo eius nam aperiam,
            recusandae veniam earum consectetur maxime repellat inventore perferendis in eum commodi expedita.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laborum laudantium obcaecati saepe hic! Voluptates quae ipsum iusto nemo magni natus voluptatum earum.
            Pariatur sapiente delectus itaque facilis ad deleniti!</p>
    </section>
</div>
