@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
    height: 100%; /* Centras la página evitando scrolls innecesarios */
}

body
{
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #33353a;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Georgia', serif;
}

button {
  font-family: 'Georgia', serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
